.hidden {
	display: none;
}

body {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #000;
	background-color: #45b6f1;
}

#container {
	margin: 0 auto;
	background-color: #45b6f1;
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

a {
	text-decoration: none;
}

/* EUGENE'S PAGE =============================================================== */

.eugene {
    background-color: #5CDB95;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    align-items: center;
}

.egnHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

#egnPfp {
	object-fit: scale-down;
	min-width: 100px;
	max-width: 500px;
	margin: 40px 20px auto 20px;
	border: 6px solid #fff;
}

.eugene main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	max-width: 500px;
	min-width: 100px;
	/*border: 3px solid #000;*/
}

.eugene main h3 {
	margin-top: 20px;
	font-size: 35px;
	font-weight: bold;
}

.eugene main h4 {
	margin-top: 10px;
	font-size: 25px;
}

.eugene main ul {
	margin: 20px auto;
	font-size: 20px;
}

.eugene main ul li {
	margin-bottom: 10px;
}

@media screen and (max-width: 552px) {

	.eugene main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 20px;
		max-width: 500px;
		min-width: 100px;
		/*border: 3px solid #000;*/
	}
}

.switch {	
	margin: 20px 20px;
	display: block;
	width: 150px;
	color: #EDF5E1;
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	border: 2px solid #EDF5E1;
	border-radius: 5px;
	padding-top: 13px;
	padding-bottom: 13px;
	transition: all .2s ease-in-out;
}

.switch:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
	background-color: #8EE4AF;
	color: #000;
}

/* EVICA'S PAGE ================================================================ */

.evica:target {
	display: block;
}

.evica {
    display: none;
    position: absolute;
    background-color: #45b6f1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    align-items: center;
    /*border: 3px solid #000;*/
}

.emHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

#emPfp {
	object-fit: scale-down;
	min-width: 100px;
	max-width: 500px;
	margin: 40px 20px auto 20px;
	border: 6px solid #fff;
}

.evica main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	max-width: 500px;
	min-width: 100px;
	/*border: 3px solid #000;*/
}

.evica main h3 {
	margin-top: 20px;
	font-size: 35px;
	font-weight: bold;
}

.evica main h4 {
	margin-top: 10px;
	font-size: 25px;
}

.evica main ul {
	margin: 20px auto;
	font-size: 20px;
}

.evica main ul li {
	margin-bottom: 10px;
}

@media screen and (max-width: 552px) {

	.evica main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 20px;
		max-width: 500px;
		min-width: 100px;
		/*border: 3px solid #000;*/
	}
}